.eachAllOrderDisplay{
    margin: 2%;
    text-align: start;
    display: grid;
    grid-template-columns: 25% 75%; 
    padding: 2%;
    background-color: rgb(243, 243, 235);
    box-shadow: 0px 0px 20px gray;
}

.eachAllOrderDisplay .imgSection{
    height: 250px;
    margin-top: 0.5%;
}
.eachAllOrderDisplay .imgSection img{
    height:100%;
    width: 100%;
    border-radius: 4px;
}
.eachAllOrderDisplay .details{
    padding: 0% 2%;
   
}
.eachAllOrderDisplay .details h3{
    color: blue;
}
.eachAllOrderDisplay .bookingSection{
    display: grid;
    grid-template-columns: 70% 30%; 
}

.eachAllOrderDisplay .bookingSection .btnPart{
    margin-top: 20%;
}

@media only screen and (max-width: 1125px) {
   
    .eachAllOrderDisplay .bookingSection{
        grid-template-columns: repeat(1,1fr);
    }
    .eachAllOrderDisplay .bookingSection .btnPart{
        margin-top: 0%;
    }
}

@media only screen and (max-width: 600px) {
     .eachAllOrderDisplay{
        grid-template-columns: repeat(1,1fr); 
    }
    
}

@media only screen and (max-width: 400px) {
    .eachAllOrderDisplay .imgSection{
        width: 310px;
        
    }
   
}
@media only screen and (max-width: 380px) {
    .eachAllOrderDisplay .imgSection{
        width: 280px;
        margin-left: 5%;
    }
   
}