.deliveryUpdate{
    margin: 7% 13%;
    padding: 2%;
    border-top: 3px solid rgb(39, 150, 11);
    border-radius: 4px;
    background-color: rgba(248, 248, 248, 0.767);
    box-shadow: 0px 0px 20px gray;
}
.deliveryUpdate .title{
    font-size: 22px;
    font-weight: 400;
    
}
.deliveryUpdate .deliveryProcedure{
    border-top: 1px dashed gray;
    padding: 0% 4%;
}

.deliveryUpdate .eachdeliveryUpdateImg{
    display: flex;
    justify-content: center;
    margin: 14% 0% 6% 0%;
}
.deliveryUpdate .deliveryUpdateImg{
    font-size: 50px;
    width: 43%;
    border-radius: 50%;
    padding-bottom: 5%;
    background-color: #28a745;
    color: white;
}
.deliveryUpdate .imgTitle p{
    font-size: 18px;
}
.deliveryUpdate  .right{
    background-color: #c9d1ca;
    border: 1.5px dashed orangered;
    animation-name: colorChanging;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}
@keyframes colorChanging {
    from{
        color: white;
      
    }
    to{
        color: rgb(58, 58, 58);
    }
}
.deliveryUpdate  .rightNotDone{
    background-color: #9ba09c;
}


@media only screen and (max-width: 1200px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 40px;
        width: 40%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 970px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 40px;
        width: 44%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 930px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 40px;
        width: 46%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 860px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 36px;
        width: 46%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 860px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 32px;
        width: 46%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 720px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 28px;
        width: 46%;
        padding-bottom: 5%;
    }
}
@media only screen and (max-width: 650px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 26px;
        width: 44%;
        padding-bottom: 5%;
    }
    .deliveryUpdate .imgTitle p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 500px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 22px;
        width: 44%;
        padding-bottom: 5%;
    }
    .deliveryUpdate .imgTitle p{
        font-size: 11px;
    }
}
@media only screen and (max-width: 450px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 19px;
        width: 44%;
        padding-bottom: 5%;
    }
    .deliveryUpdate .imgTitle p{
        font-size: 11px;
    }
}
@media only screen and (max-width: 370px) {
    .deliveryUpdate .deliveryUpdateImg{
        font-size: 15px;
        width: 56%;
        padding-bottom: 5%;
    }
    .deliveryUpdate .imgTitle p{
        font-size: 11px;
    }
}