.eachRequest{
    /* border: 1px solid rgb(168, 175, 168); */
    box-shadow: 0px 0px 20px rgb(206, 203, 203);
    text-align: start;
    padding: 3%;
    margin: 4% 0%;
}
.eachRequest h3{
    color: green;
}
.eachRequest h5{
    color: rgb(30, 0, 128);
}
.eachRequest .btnSection{
   margin-top: 8%;
   display: flex;
   align-items: flex-end;
}
.toast{
    z-index: 11;
}